body{
text-align: center;
}

#aven{
    width: 1000px;
}
#im{
    height: 150px;
    width: 200px;
}
#ca{
height: 150px;
width: 200px;
}
#tr{
    height: 150px;
    width: 200px;
}
#hk{
    height: 150px;
    width: 200px;